extends base

block content

    if errorMessage 
        div=errorMessage
    form(method="POST")
        input(name="username", type="text", required, placeholder="Username")
        input(name="password", type="password", required, placeholder="Password")
        input(type="submit", value="Login")
        br
        //- a(href="https://github.com/login/oauth/authorize?client_id=ea197dc3f2ce607a5870&allow_signup=false&scope=user:email") Continue with Github
        a(href="/users/github/start") Continue with Github &rarr;
    hr
    div
        span Don't have an account? 
        a(href="/join") Create one now &rarr;